$blackColor222: #222;
$blackColor666: #666;
$whiteColor: #fff;
$boxShadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.6);
$transition: all 0.3s ease;
$blackBG: #666;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin borderStyle1($size, $color) {
  border: $size solid $color;
  border-radius: 3px;
}
.treeComponent {
  @include borderStyle1(1px, $blackColor222);
  background-color: #333;
  height: 100vh;
  padding: 10px;
  .controlArea {
    margin: 0 auto;
    width: 500px;
    text-align: center;

    input {
      outline: none;
      padding: 3px;
      width: 80px;
      height: 25px;
      @include borderStyle1(1px, $blackColor666);

      box-shadow: $boxShadow;
    }
    button {
      outline: none;
      padding: 3px;
      margin: 5px;
      width: 80px;
      height: 25px;
      transform: scale(0.98);
      transition: $transition;
      @include borderStyle1(1px, $blackColor666);
      box-shadow: $boxShadow;
      &:hover {
        transform: scale(1);
        cursor: pointer;
        background-color: rgb(242, 78, 78);
      }
    }
  }
  .treeView {
    width: 100%;
    height: 100vh;
    margin-top: 20px;
  }
}
